.formikDisplayProps{
    background-color: lightgray;
    color: blue;
}

.hidden{
    display: none;
}

.centerFormElement{
    text-align: center;
    select{
        display: inline-block;
    }
}


.formElement{
    padding: 10px 0;
    display: block;
    input[type="radio"]{
        vertical-align: middle;
    }
}

.formElementLabel{
    display:block;
}


.text-input:focus{
    border: 1px solid blue;
}

.text-input.error{
    border: 2px solid red;
}

.input-feedback{
    color:red;
    background-color:white
}

.testParent{
    background-color: green;
    display: block;
    text-align: center;
}

.radioFormElement, .checkboxFormElement{
    div{
        text-align: left;
        width: 150px;
        margin: auto;
    }
}
