.formikDisplayProps{
    background-color: lightgray;
    color: blue;
}

.hidden{
    display: none;
}

.centerFormElement{
    text-align: center;
}

.centerFormElement select{
    display: inline-block;
}

.formElement{
    padding: 10px 0;
    display: block;
}

.formElementLabel{
    display:block;
}

.text-input:focus{
    border: 1px solid blue;
}

.text-input.error{
    border: 2px solid red;
}

.input-feedback{
    color:red;
    background-color:white
}
