.formikTitle{
    text-align: center;
}

.formikDisplayProps {
    background-color: lightgray;
    color: blue;
}

.hidden {
    display: none;
}

.centerFormElement {
    text-align: center;
    background-color: rgb(160, 160, 241);
    max-width:400px;
    min-width:200px;
    margin: auto;
}

.formElement {
    padding: 10px 0;
    display: block;
    width: 80%;
    @media screen and (max-width: 450px){
        width: 100%
    }
    margin: auto;

    input[type="text"],
    input[type="number"],
    div {
        width: 80%;
        display: inline-block;
    }
    input[type="text"],
    input[type="number"]
    {
        border-radius: 20px;
    }

    .radioFormElement,
    .checkboxFormElement{
        text-align: left;
    }
    
}


.formElementLabel {
    display: block;
    text-decoration: underline;
}

.text-input:focus {
    border: 1px solid yellow;
}

.text-input.error {
    border: 2px solid red;
}

.input-feedback {
    color:red;
    background-color:white;
    text-align: center;
}

.submitButton,
.resetButton {
    border-radius: 30px;
    padding: 20px;
    border: none;
    font-size: 20px;
}

.submitButton {
    color: white;
    background-color: rgb(3, 238, 3);
}

.resetButton {
    color: white;
    background-color: red;
}

.submitButton:disabled,
.resetButton:disabled {
    color: grey;
    background-color: lightgrey;
}

.apiResponse{
    padding: 20px;
    background-color: white;
}
